{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
    <h1>Planning</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idcle</th>
                <td>{{ planning.idcle }}</td>
            </tr>
            <tr>
                <th>Planning</th>
                <td>{{ planning.planning }}</td>
            </tr>
            <tr>
                <th>Fkvehicule</th>
                <td>{{ planning.fkvehicule }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ planning.annee }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('planning_index') }}">back to list</a>

    <a href="{{ path('planning_edit', {'idcle': planning.idcle}) }}">edit</a>

    {{ include('planning/_delete_form.html.twig') }}
{% endblock %}
