{% extends "base.html.twig" %}


{% block title %}Mes demandes{% endblock %}


{% block body %}
<div class="container">
    <h1>Mes demandes</h1>
    {% if demandes|length < 1 %}
        <div class="alert alert-info" role="alert">
          Je n'ai pas de demandes
        </div>
    {% endif %}
<div class="row">


{% for uneDemande in demandes %}

<div class="card col-sm-12 col-md-12 col-lg-12 col-xs-12">
  <div class="card-body">
    {% set etatDemande = uneDemande.getEtatTrajet() %}
    {% set etatDemandeLibelle = uneDemande.getEtatTrajet() %}
    {% if etatDemande == null %}
      {% set etatDemande = 'encour' %}
      {% set etatDemandeLibelle = 'En attente de validation' %}
    {% endif %}
    {% if etatDemande == 'refuse' %}
      {% set etatDemandeLibelle = 'Refusé' %}
    {% endif %}
    {% if etatDemande == 'valide' %}
      {% set etatDemandeLibelle = 'Validé' %}
    {% endif %}
    <h3 class="{{etatDemande}}">
      {{ etatDemandeLibelle }}
    </h3>

  <div class="labeldate"><label>Aller : </label>{{uneDemande.datedepart|date("d/m")}}</div>
  <div class="labeldate"><label>Retour : </label>{{uneDemande.datearrive|date("d/m")}}</div>
    <div>
    </div>
    <div class="row">
      <div class="col-6">
      <div class="ville">{{uneDemande.adressedepart.ville}}</div>
      {{uneDemande.fkvehicule.marque}}
      {{uneDemande.fkvehicule.modele}}
      <div>{{uneDemande.fkvehicule.immatriculation}}</div>
      </div>
      <div class="col-6">
       <div class="ville">{{uneDemande.adressearrive.ville}}</div>
        {{uneDemande.fkuser.nom}}
        {{uneDemande.fkuser.prenom}}
        <div><a onclick="affiche({{uneDemande.idTrajet}})">Plus ...</a></div>
      </div>
    </div>
    <div id="divoccupant-{{uneDemande.idTrajet}}" class="d-none">
   <div>
  Les occupants
  <ul>
  {% for unOccupant in uneDemande.occupant %}
    <li>{{unOccupant.nom}} {{unOccupant.prenom}}</li>
  {% endfor %}

  </ul>
    </div>
    <a onclick="masque({{uneDemande.idTrajet}})">Masquer</a>
    </div>
  </div>
</div>



{% endfor %}
</div>
<a class="btn btn-primary float-right" href="{{ path('trajet_search') }}">Faire une nouvelle demande</a>
</div>

{% endblock %}
