{% extends "base.html.twig" %}


{% block title %}Mes demandes{% endblock %}


{% block body %}
    <h1>Mes demandes</h1>

<div class="row">
{% for uneDemande in demandes %}

<div class="card col-sm">
  <div class="card-body">
  <div class="labeldate"><label>Aller : </label>{{uneDemande.datedepart|date("d/m")}}</div>
  <div class="labeldate"><label>Retour : </label>{{uneDemande.datearrive|date("d/m")}}</div>
    <div>
    </div>
    <div class="row">
      <div class="col-6">
      <div class="ville">{{uneDemande.adressedepart.ville}}</div>
      {{uneDemande.fkvehicule.marque}}
      {{uneDemande.fkvehicule.modele}}
      <div>{{uneDemande.fkvehicule.immatriculation}}</div>
      </div>
      <div class="col-6">
       <div class="ville">{{uneDemande.adressearrive.ville}}</div>
        {{uneDemande.fkuser.nom}}
        {{uneDemande.fkuser.prenom}}
        <div><a onclick="affiche()">Plus ...</a></div>
      </div>
    </div>
    <div class="d-none">
    <a onclick="masque()">Masquer</a>
    </div>
  </div>
</div>



{% endfor %}
</div>

{% endblock %}
