{% extends "base.html.twig" %}


{% block title %}Mes demandes{% endblock %}


{% block body %}
<div class="container">
    <h1>Mes demandes</h1>
    {% if demandes|length < 1 %}
        <div class="alert alert-info" role="alert">
          Je n'ai pas de demandes
        </div>
    {% endif %}
<div class="row">


{% for uneDemande in demandes %}

<div class="card col-sm-12 col-md-12 col-lg-12 col-xs-12">
  <div class="card-body">
  <div class="labeldate"><label>Aller : </label>{{uneDemande.datedepart|date("d/m")}}</div>
  <div class="labeldate"><label>Retour : </label>{{uneDemande.datearrive|date("d/m")}}</div>
    <div>
    </div>
    <div class="row">
      <div class="col-6">
      <div class="ville">{{uneDemande.adressedepart.ville}}</div>
      {{uneDemande.fkvehicule.marque}}
      {{uneDemande.fkvehicule.modele}}
      <div>{{uneDemande.fkvehicule.immatriculation}}</div>
      </div>
      <div class="col-6">
       <div class="ville">{{uneDemande.adressearrive.ville}}</div>
        {{uneDemande.fkuser.nom}}
        {{uneDemande.fkuser.prenom}}
        <div><a onclick="affiche()">Plus ...</a></div>
      </div>
    </div>
    <div id="divoccupant" class="d-none">
   <div>
  Les occupants
  <ul>
    <li>Michel Dupond</li>
    <li>Michel Dupond</li>
  </ul>
    </div>
    <a onclick="masque()">Masquer</a>
    </div>
  </div>
</div>



{% endfor %}
</div>
</div>

{% endblock %}
