{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bookings list</h1>

    <table>
        <thead>
            <tr>
                <th>Date départ</th>
                <th>Date arrivé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td><a href="{{ path('booking_show', { 'id': booking.idtrajet }) }}">{{ booking.idtrajet }}</a></td>
                <td>{% if booking.datedepart %}{{ booking.datedepart|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if booking.datearrive %}{{ booking.datearrive|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('booking_show', { 'id': booking.idtrajet }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
