{% extends 'base.html.twig' %}

{% block title %}Trajet{% endblock %}

{% block body %}
    <h1>Trajet</h1>

    <table class="table">
        <tbody>

        <tr>
            <th>Conducteur</th>
            <td>{{ booking.fkuser.getPrenom() }} {{ booking.fkuser.getNom() }}</td>
        </tr>
        <tr>
        <th>Occupants</th>
            {% for unOccupant in booking.occupant %}
                <td>{{unOccupant.prenom}} {{unOccupant.nom}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Adresse départ</th>
            <td>{{ booking.adressedepart.getNumrue() }} {{ booking.adressedepart.getNomrue() }} {{ booking.adressedepart.getVille() }}</td>
        </tr>
        <tr>
            <th>Adresse arrivé</th>
            <td>{{ booking.adressearrive.getNumrue() }} {{ booking.adressearrive.getNomrue() }} {{ booking.adressearrive.getVille() }}</td>
        </tr>
        <tr>
            <th>Véhicule</th>
            <td>{{ booking.fkvehicule.getModele() }}</td>
        </tr>
        <tr>
            <th>Date départ</th>
            <td>{{ booking.datedepart ? booking.datedepart|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Date arrivé</th>
            <td>{{ booking.datearrive ? booking.datearrive|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Kilometrage</th>
            <td>{{ booking.kilometrage }}</td>
        </tr>
        <tr>
            <th>Commentaire conducteur</th>
            <td>{{ booking.commentaireconducteur }}</td>
        </tr>
        <tr>
            <th>Commentaire interne</th>
            <td>{{ booking.commentaireinterne }}</td>
        </tr>
        </tbody>
    </table>

<div>
   <p class="text-center"><a class="btn btn-success" href="{{ path('trajet_valid', { 'id': booking.idtrajet }) }}">Valider ce trajet</a>
    <a class="btn btn-danger" href="{{ path('trajet_refuse', { 'id': booking.idtrajet }) }}">Refuser ce trajet</a></p>
    <a class="btn btn-primary float-left" href="{{ path('booking_calendar') }}">Retour au calendrier</a>
</div>
{% endblock %}
