{% extends 'base.html.twig' %}

{% block body %}
    <h1>Booking</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>Beginat</th>
                <td>{% if booking.beginAt %}{{ booking.beginAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Endat</th>
                <td>{% if booking.endAt %}{{ booking.endAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ booking.title }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('booking_calendar') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
