<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="{{ path('connexion') }}">Just Drive</a>
    <div class="affichagePc">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('demande_index') }}">Mes demandes<span class="sr-only">(current)</span></a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('vehicule_index') }}">Liste des vehicules<span class="sr-only">(current)</span></a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="{{ path('booking_calendar') }}">Calendrier des demandes<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_new') }}">Nouvelle inscription<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_index') }}">Liste des utilisateurs<span class="sr-only">(current)</span></a>
                </li>
            {% endif %}
        </ul>
    </div>
    <ul class="navbar-nav list-inline listeInlineMobile">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="{{ path('user_show', {'iduser' : app.user.iduser}) }}"><i class="fas fa-user-circle"></i> {{ app.user.prenom ~ ' ' ~ app.user.nom }}</a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link btn btn-dark my-sm-0 btn-sm" id="btnProfil" href="{{ path('logout') }}"><i class="fas fa-power-off"></i></a>
        </li>
    </ul>
    
</nav>
