{% extends 'base.html.twig' %}

{% block title %}Cle index{% endblock %}

{% block body %}
    <h1>Cle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idcle</th>
                <th>Fksite</th>
                <th>Fkuser</th>
                <th>Fkvehicule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cle in cles %}
            <tr>
                <td>{{ cle.idcle }}</td>
                <td>{{ cle.fksite }}</td>
                <td>{{ cle.fkuser }}</td>
                <td>{{ cle.fkvehicule }}</td>
                <td>
                    <a href="{{ path('cle_show', {'idcle': cle.idcle}) }}">show</a>
                    <a href="{{ path('cle_edit', {'idcle': cle.idcle}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cle_new') }}">Create new</a>
{% endblock %}
