{% extends 'base.html.twig' %}

{% block title %}Nos véhicules{% endblock %}

{% block body %}
<div class="container">
    <h1>Nos véhicules</h1>
    <div class="clearfix" style="width:100%;">
        <a href="{{ path('vehicule_new') }}" class="float-right btn btn-success mr-5 mb-3">Ajouter un nouveau véhicule</a>
    </div>
    <div class="row ml-5">
        {% for vehicule in vehicules %}
        <div class="card col-sm-3 col-md-3 col-lg-3 col-xs-3 m-1 text-center cardVehicule">
            <a href="{{ path('vehicule_show', {'idvehicule': vehicule.idvehicule}) }}">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md">
                        <div class="numVehicule">Véhicule n° {{ vehicule.idvehicule }}</div>
                        <div>{{ vehicule.modele }} - {{ vehicule.marque }}</div>
                        <div>Immatriculation : {{ vehicule.immatriculation }}</div>
                    </div>
                  </div>
                </div>
            </a>
              </div>
        {% else %}
            <div class="col-md align-content-center text-md-center m-5">
                <div class="alert alert-info">Aucun véhicule n'est enregistré.</div>
            </div>
        {% endfor %}
        
    </div>

</div>

    
{% endblock %}
