{% extends 'base.html.twig' %}

{% block title %}Adresse index{% endblock %}

{% block body %}
    <h1>Adresse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idadresse</th>
                <th>Numrue</th>
                <th>Nomrue</th>
                <th>Ville</th>
                <th>Codepostal</th>
                <th>Fkpays</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse in adresses %}
            <tr>
                <td>{{ adresse.idadresse }}</td>
                <td>{{ adresse.numrue }}</td>
                <td>{{ adresse.nomrue }}</td>
                <td>{{ adresse.ville }}</td>
                <td>{{ adresse.codepostal }}</td>
                <td>{{ adresse.fkpays }}</td>
                <td>{{ adresse.latitude }}</td>
                <td>{{ adresse.longitude }}</td>
                <td>
                    <a href="{{ path('adresse_show', {'idadresse': adresse.idadresse}) }}">show</a>
                    <a href="{{ path('adresse_edit', {'idadresse': adresse.idadresse}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('adresse_new') }}">Create new</a>
{% endblock %}
