{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
<div class="container">
<div id="formulaireSearch">
<form name="form">
  <div class="form-group row">
    <label for="inputdate" class="col-sm-2 col-form-label">Date</label>
    <div class="col-sm-10">
      <input required type="date" name="date" class="form-control" id="inputdate" value="{{app.request.query.get("date")}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDepart" class="col-sm-2 col-form-label">Ville de départ</label>
    <div class="col-sm-10">
      <input required type="text" class="form-control" id="inputDepart" name="adressedepart" value="{{app.request.query.get("adressedepart")}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputArrive" class="col-sm-2 col-form-label">Ville d'arrivée</label>
    <div class="col-sm-10">
      <input required type="text" class="form-control" id="inputArrive" name="adressearrive" value="{{app.request.query.get("adressearrive")}}">
    </div>
  </div>
  <input type="submit" class="btn btn-info float-right" value="Chercher">
</form>

<div id="result">
  {% if demandes|length == 0 %}
    <p>Pas de trajets correspondant à la recherche.</p>
  {% endif %}
<table class="table table-borderer">
    <tbody>
  {% for uneDemande in demandes %}
  <tr>
    <td>
      <span class="h2">{{uneDemande.datedepart|date('h')}}h{{uneDemande.datedepart|date('i')}}</span>
      <p>{{uneDemande.placesRestant}} places restantes</p>
    </td>
  <td>
    <p>
      {{uneDemande.adressedepart.numrue}}  {{uneDemande.adressedepart.nomrue}} {{uneDemande.adressedepart.ville}}
    </p>
    <p>
      {{uneDemande.adressearrive.numrue}}  {{uneDemande.adressearrive.nomrue}} {{uneDemande.adressearrive.ville}}
    </p>
  </td>
  <td>
    <p><span class="font-weight-bold">{{uneDemande.fkuser.prenom}} {{uneDemande.fkuser.nom}}</p>
  {% for unOccupant in uneDemande.occupant %}
    <li>{{unOccupant.prenom}} {{unOccupant.nom}}</li>
  {% endfor %}
  </td>
  <td>
    <button type="button" class="btn btn-info" name="button" onclick="inscrire('{{uneDemande.idtrajet}}','{{uneDemande.placesRestant}}')">M'inscrire</button>
  </td>
  </tr>
  {% endfor %}

  </tbody>
</table>



</div>

<button type="button" id="btnAddTrajet" class="btn btn-success btn-lg btn-block" name="button">Créer un nouveau trajet</button>
</div><!-- end div id = formulaireSearch -->

  <div id="formulaireAdd" class="d-none">

  </div><!-- end div id = formulaireAdd -->

</div><!-- end div container -->
{% endblock %}
