{% extends 'base.html.twig' %}

{% block title %}Trajet{% endblock %}

{% block body %}
    <h1>Trajet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idtrajet</th>
                <td>{{ trajet.idtrajet }}</td>
            </tr>
            <tr>
                <th>Fkuser</th>
                <td>{{ trajet.fkuser.getNom() }}</td>
            </tr>
            <tr>
                <th>Adressedepart</th>
                <td>{{ trajet.adressedepart.getNumrue() }} {{ trajet.adressedepart.getNomrue() }} {{ trajet.adressedepart.getVille() }}</td>
            </tr>
            <tr>
                <th>AdresseArrive</th>
                <td>{{ trajet.adressearrive.getNumrue() }} {{ trajet.adressearrive.getNomrue() }} {{ trajet.adressearrive.getVille() }}</td>
            </tr>
            <tr>
                <th>Fkvehicule</th>
                <td>{{ trajet.fkvehicule.getModele() }}</td>
            </tr>
            <tr>
                <th>Datedepart</th>
                <td>{{ trajet.datedepart ? trajet.datedepart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Datearrive</th>
                <td>{{ trajet.datearrive ? trajet.datearrive|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Kilometrage</th>
                <td>{{ trajet.kilometrage }}</td>
            </tr>
            <tr>
                <th>Commentaireconducteur</th>
                <td>{{ trajet.commentaireconducteur }}</td>
            </tr>
            <tr>
                <th>Commentaireinterne</th>
                <td>{{ trajet.commentaireinterne }}</td>
            </tr>

            <tr>
                <th>Fketat</th>
                <td>{{ trajet.fketat.getLibelle() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('trajet_index') }}">back to list</a>

    <a href="{{ path('trajet_edit', {'idtrajet': trajet.idtrajet}) }}">edit</a>

    {{ include('@App/trajet/_delete_form.html.twig') }}
{% endblock %}
